@import "../colors.scss";

@media screen and (min-width:1008px) {
    header {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../assets/img/background-l1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 60%;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: $main;
    }

    ::-webkit-scrollbar-thumb {
        background: $complementary;
    }

    #header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-family: "Source Sans Pro", sans-serif;
        color: $main;
    }

    #objectives-icon {
        width: 35px;
        height: 35px;
        font-size: 35px;
        left: 50px;
        top: 90px;
        z-index: 3;
        color: $complementary;
        background-color: $main;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
        padding: 15px;
        border-radius: 10px;
        position: fixed;
        transition: all 0.2s;
    }

    #objectives-status-indicator {
        width: 30px;
        height: 30px;
        left: 45px;
        top: 0px;
        z-index: 5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: $main;
        font-family: "Source Sans Pro", sans-serif;
        transition: all 0.2s;
        background-color: $main;
    }

    #place-image {
        width: 120px;
        height: 120px;
        border: solid 4px #4a4a4a;
    }

    #place-name {
        font-size: 30px;
        letter-spacing: 4px;
        font-weight: bold;
        text-transform: uppercase;
    }

    #place-operation {
        font-size: 18px;
        padding: 10px 15px 10px 15px;
        letter-spacing: 1px;
        border-radius: 10px;
        background-color: $main;
        color: $positive;
        font-weight: bold;
    }

    #alert {
        position: fixed;
        width: 500px;
        height: 80px;
        top: 80px;
        border-radius: 5px;
        z-index: 5;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
        transform: translateY(-200px);
        opacity: 0%;
        transition: all .2s;
    }

    #alert-border {
        width: 10px;
        height: 100%;
        border-radius: 5px 0px 0px 5px;
    }

    #alert-text {
        display: flex;
        gap: 15px;
        margin-left: 15px;
        align-items: center;
    }

    #alert-message {
        max-width: 80%;
        font-size: 17px;
        font-family: "Source Sans Pro", sans-serif;
    }

    #options-modal-background {
        position: fixed;
        z-index: 3;
        width: 100vw;
        min-height: 162.5vh;
        background-color: rgba(0, 0, 0, 0.4);
        transform: scale(0, 0);
    }

    #objectives-modal-background {
        position: fixed;
        z-index: 3;
        width: 100vw;
        min-height: 162.5vh;
        background-color: rgba(0, 0, 0, 0.4);
        transform: scale(0, 0);
    }

    #options-modal {
        position: fixed;
        margin-top: 15%;
        z-index: 4;
        width: 40%;
        padding: 20px;
        border-radius: 10px;
        background-color: $main;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: scale(0, 0);
        transition: transform .2s;
    }

    #objectives-modal {
        position: fixed;
        margin-top: 15%;
        z-index: 4;
        width: 30%;
        padding: 30px;
        border-radius: 10px;
        background-color: $main;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: scale(0, 0);
        transition: transform .2s;
    }

    #modal-back {
        width: 100px;
    }

    #modal-objectives-back {
        width: 100px;
    }

    #options-modal-item {
        display: flex;
        gap: 20px;
    }

    #objectives-title-modal {
        margin-top: 0px;
        letter-spacing: 1px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
        font-family: "Source Sans Pro", sans-serif;
    }

    #objectives-modal-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #item-image-modal {
        border-radius: 10px;
        width: 250px;
        align-self: center;
    }

    #item-title-modal {
        margin-top: 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: lighter;
        font-family: "Source Sans Pro", sans-serif;
    }

    #objectives-information {
        margin-top: 40px;
        padding: 20px;
        border-radius: 10px;
        background-color: #ff485771;
        font-family: "Source Sans Pro", sans-serif;
        display: none;
        align-items: center;
        gap: 20px;
    }

    #objectives-information-icon {
        width: 25px;
        height: 25px;
        padding: 10px;
        color: $main;
        background-color: $negative;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #objectives-information-icon-done {
        width: 25px;
        height: 25px;
        padding: 10px;
        color: $main;
        background-color: $positive;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #item-description-modal {
        color: $complementary;
        font-size: 18px;
        font-family: "Source Sans Pro", sans-serif;
    }

    #item-additional-modal {
        width: 100%;
        display: none;
        justify-content: center;
        gap: 20px;
    }

    #modal-add {
        background-color: black;
        font-size: 17px;
    }

    #wave {
        width: 100%;
        height: 300px;
        position: absolute;
        transform: translateY(-300px);
    }

    #navigation {
        width: 100%;
        height: 70px;
        z-index: 2;
        position: sticky;
        top: 0;
        background-color: $main;
        box-shadow: rgba(0, 0, 0, 0.01) 0px 20px 25px -5px, rgba(0, 0, 0, 0.01) 0px 10px 10px -5px;
    }

    #navigation-items {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: -5px;
    }

    #cart-icon {
        width: 30px;
        height: 30px;
        font-size: 30px;
        right: 50px;
        top: 15px;
        color: $complementary;
        position: absolute;
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cart-icon:hover {
        color: black;
        cursor: pointer;
    }

    #cart-back-mobile {
        display: none;
    }

    #cart-item-count {
        width: 15px;
        height: 15px;
        font-size: 13px;
        right: 45px;
        top: 15px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: $negative;
        color: $main;
        font-family: "Source Sans Pro", sans-serif;
        transition: all 0.2s;
    }

    #cart {
        width: 400px;
        margin-top: 7px;
        right: 50px;
    }

    #cart-title {
        width: 340px;
        margin-left: 30px;
        color: $complementary;
        text-align: left;
        font-family: "Source Sans Pro", sans-serif;
        user-select: none;
    }

    #cart-empty-message {
        width: 100%;
        height: 80px;
        color: $complementary;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Source Sans Pro", sans-serif;
    }

    #cart-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    #cart-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Source Sans Pro", sans-serif;
        user-select: none;
        color: $complementary;
        font-weight: 500;
        gap: 10px;
    }

    #finish-order {
        margin-bottom: 20px;
    }

    #menu-items {
        width: calc(100% - 50px);
        padding: 25px;
        gap: 25px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        background-color: $contrast;
    }

    #footer-content {
        width: 100%;
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        color: $complementary;
        background-color: $contrast;
    }

    #footer-logo {
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
    }

    .no-scroll {
        overflow: hidden;
    }

    .alert-open {
        transform: translateY(0px) !important;
        opacity: 100% !important;
    }

    .alert-success {
        background-color: #c3f3d7;
        color: #24ad5d;
    }

    .alert-success>div:first-of-type {
        background-color: $positive;
    }

    .alert-info {
        background-color: #ffe3b1;
        color: #ce8501;
    }

    .alert-info>div:first-of-type {
        background-color: $optional;
    }

    .alert-error {
        background-color: #ffe0e3;
        color: $negative;
    }

    .alert-error>div:first-of-type {
        background-color: $negative;
    }

    .alert-icon {
        font-size: 27px;
    }

    .objectives-status-indicator-icon {
        font-size: 30px;
        color: $negative;
    }

    .indicator-icon-positive {
        color: $positive;
    }

    .place-info-box {
        display: flex;
        gap: 5px;
    }

    .button {
        padding: 20px 40px 20px 40px;
        border: none;
        border-radius: 10px;
        background-color: $complementary;
        font-family: "Source Sans Pro", sans-serif;
        color: $main;
        word-spacing: 2px;
        transition: all 0.2s;
    }

    .button:hover {
        background-color: black;
        transform: translateY(-3px);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
        cursor: pointer;
    }

    .objectives-modal-background-open {
        transform: scale(1, 1) !important;
    }

    .options-modal-background-open {
        transform: scale(1, 1) !important;
    }

    .options-modal-open {
        transform: scale(1, 1) !important;
    }

    .objectives-modal-open {
        transform: scale(1, 1) !important;
    }

    .objective-normal {
        background-color: #b0bec55e;
    }

    .objective-done {
        background-color: #2fd5744d;
    }

    .objective-wrong {
        background-color: #ff485771;
    }

    .objective-status-normal {
        background-color: $gray;
    }

    .objective-status-done {
        background-color: $positive;
    }

    .objective-status-wrong {
        background-color: $negative;
    }

    .objective {
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        gap: 10px;
    }

    .objective-icon-status {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .objective-icon {
        width: 50px;
        height: 50px;
        padding: 25px;
        color: $main;
    }

    .objective-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .objective-title {
        font-family: "Source Sans Pro", sans-serif;
        text-align: center;
    }

    .objective-additional {
        color: $dark;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
    }

    .objectives-information-show {
        display: flex !important;
    }

    .objectives-information-text-done {
        background-color: #2fd5744d !important;
    }

    .item-additional-modal-open {
        display: flex !important;
    }

    .item-additional-box {
        width: 100%;
        height: 195px;
        border-radius: 10px;
        background-color: $contrast;
    }

    .item-additional-title {
        width: 100%;
        height: 35px;
        margin: 0px;
        border-radius: 10px 10px 0px 0px;
        font-size: 18px;
        background-color: black;
        color: $main;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: lighter;
        font-family: "Source Sans Pro", sans-serif;
    }

    .item-additional-list {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .item-additional-list li {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 0px 15px;
        font-family: "Source Sans Pro", sans-serif;
        transition: all 0.2s;
    }

    .item-additional-list li:hover {
        transition: transform .2s;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
    }

    .item-additional-list li:last-child {
        border-radius: 0px 0px 10px 10px;
    }

    .item-additional-checkbox {
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: transparent;
        background-color: transparent;
        border: solid 1px $complementary;
        justify-self: flex-end;
    }

    .item-additional-checkbox:hover {
        cursor: pointer;
        border: solid 1px black;
    }

    .item-additional-checked {
        cursor: pointer;
        color: $main !important;
        border: solid 1px black !important;
        background-color: black !important;
    }

    .cart-active {
        background-color: $contrast;
        padding: 10px;
        border-radius: 10px;
    }

    .cart-item-count-active {
        transform: translate(-10px, 10px);
    }

    .dropdown {
        position: absolute;
        border-radius: 10px;
        background-color: $main;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
        transform: scale(1, 0);
        transition: transform .2s;
        transform-origin: top;
    }

    .dropdown-open {
        transform: scale(1, 1);
    }

    .cart-item {
        width: 340px;
        padding: 10px 0px 10px 0px;
        background-color: $contrast;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .cart-item-image {
        width: 80px;
        height: 80px;
        opacity: 0.9;
        border-radius: 10px;
    }

    .cart-item-info {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        gap: 2px;
        font-family: "Source Sans Pro", sans-serif;
    }

    .cart-item-name {
        width: 100%;
        font-size: 18px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cart-item-additional {
        width: 100%;
    }

    .cart-item-additional-list {
        padding: 0px;
        margin: 0px;
    }

    .cart-item-additional-list li {
        width: 100%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cart-item-additional-remove {
        list-style-type: none;
        color: $complementary;
        margin-bottom: 10px;
    }

    .cart-item-additional-remove li {
        align-self: flex-start;
    }

    .cart-item-additional-add {
        color: $complementary;
    }

    .cart-item-additional-add li {
        margin-bottom: 5px;
    }

    .cart-item-add-name {
        width: 150px;
    }

    .cart-item-add-price {
        width: 60px;
    }

    .cart-item-total {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    .cart-item-total-price {
        width: 60px;
        font-size: 15px;
    }

    .cart-item-price {
        width: 60px;
        font-size: 15px;
    }

    .cart-item-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }

    .cart-item-button {
        width: 35px;
        font-size: 13px;
        padding: 5px;
        border: none;
        border-radius: 10px;
        font-family: "Source Sans Pro", sans-serif;
        color: $main;
        font-weight: bold;
        background-color: $complementary;
        transition: all 0.2s;
    }

    .cart-item-button:hover {
        transform: translateY(-1px);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
        cursor: pointer;
    }

    .cart-item-edit:hover {
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
    }

    .cart-item-remove:hover {
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
    }


    .navigation-item {
        font-size: 20px;
        font-family: "Source Sans Pro", sans-serif;
        color: $complementary;
        transition: all 0.2s;
        user-select: none;
    }

    .navigation-item:hover {
        color: black;
        transform: translateY(-3px);
        cursor: pointer;
    }

    .menu-category {
        width: 900px;
        margin-bottom: 0px;
        color: $complementary;
        text-align: left;
        font-family: "Source Sans Pro", sans-serif;
    }

    .menu-item {
        background-color: $main;
        width: 800px;
        height: 100px;
        padding: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.01) 0px 20px 25px -5px, rgba(0, 0, 0, 0.01) 0px 10px 10px -5px;
        font-family: "Source Sans Pro", sans-serif;
        transition: all 0.2s;
    }

    .menu-item:hover {
        cursor: pointer;
        transform: translateY(-3px);
    }

    .item-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 70%;
    }

    .item-name {
        margin: 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: lighter;
    }

    .item-description {
        width: 90%;
        color: $complementary;
    }

    .item-price {
        font-size: 20px;
    }

    .item-image {
        width: 150px;
        height: 150px;
        border-radius: 5px;
        background-color: $complementary;
    }
}